@charset "utf-8";

/*initial css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*gongpig*/
body{
	height: 100%;
	width: 100%;
	background-color: black;
}

.table{
	/*
	height: 90%;
	width: 90%;
	margin: 5% 5%;
	background-color: green;
	position: relative;
	*/
}

.player{
	background-color: green;
	z-index: 10;
}

#player_1{
	width: 5%;
	height: 50%;
	position: absolute;
	right: 0px;
	top: 25%;
	background-color: green;
	overflow: hidden;
}

#player_2{
	width: 5%;
	height: 50%;
	position: absolute;
	left: 0px;
	top: 25%;
	background-color: green;
	overflow: hidden;
}

#player_3{
	width: 30%;
	height: 10%;
	position: absolute;
	left: 7%;
	top: 0;
	background-color: green;
	overflow: hidden;
}

#player_4{
	width: 30%;
	height: 10%;
	position: absolute;
	right: 7%;
	top: 0;
	background-color: green;
	overflow: hidden;
}

#user{
	width: 60%;
	height: 170px;
	position: absolute;
	right: 20%;
	bottom: 0;
	background-color: green;
	overflow: hidden;
}

.card{
	width: 80%;
	height: 70%;
	position: absolute;
	right: 10%;
	bottom: 15%;
	background-color: green;
}

/*poker card*/
.ppoker{
	width: 102px;
	height: 170px;
	overflow: hidden;
	position: absolute;
}

.poker_card_body{
	height: 150px;
	width: 100px;
	padding-top: 20px;
}

button{
	display: inline-block;
    border: none;
	padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.poker_card{
	height: 148px;
	width: 100px;
	background-color: white;
	position: relative;
	overflow: hidden;
	border: solid 1px black;

}

.num_suit{
	height: auto;
	width: 20px;
	background-color: white;
}

.num{
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	padding: 2.5px;
}

.suit{
	width: 20px;
	height: 20px;
	background-color: white;
}

.up{
	position: absolute;
	top: 0px;
	left: 0px;
}

.down{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari prior 9.0 */
	transform: rotate(180deg); /* Standard syntax */
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.mid_suit{
	height: 68px;
	background-color: white;
	position: absolute;
	top: 40px;
	left: 20px;
	right: 20px;
}

/*card section*/
.play_card{
	width: 102px;
	height: 150px;
	background-color: transparent;
}

#p_card_1{
	position: absolute;
	right: 10px;
	top: 25%;
}

#p_card_2{
	position: absolute;
	left: 10px;
	top: 25%;
}

#p_card_3{
	position: absolute;
	left: 25%;
	top: 10px;
}

#p_card_4{
	position: absolute;
	right: 25%;
	top: 10px;
}

#u_card{
	position: absolute;
	right: 25%;
	bottom: 20%;
}

/*user section*/
#play{
	width: 10%;
	height: 20px;
	position: absolute;
	right: 5%;
	bottom: 110px;
}

#h_t_b{
	width: 10%;
	height: 20px;
	position: absolute;
	right: 5%;
	bottom: 20px;
	font-size: 10px;
}

#s_n_g{
	width: 10%;
	height: 20px;
	position: absolute;
	right: 5%;
	bottom: 50px;
	font-size: 10px;
}

#c_p{
	width: 10%;
	height: 20px;
	position: absolute;
	right: 5%;
	bottom: 80px;
	font-size: 10px;
}

#o_t_b{
	width: 60%;
	height: 20px;
	position: absolute;
	left: 20%;
	bottom: 0;
	display: none;
}